.contenedor {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.caja_1 {
    background: #3F858C;
    width: 600px;
    height: 750px;
}

.caja_10 {
    display: flex;
}

.caja_1_1 {
    background: #C1D9A9;
    width: 191px;
    height: 200px;
    margin: 5px;
}

.caja_11 {
    display: flex;
    flex-direction: column;
}

.caja_1_2 {
    background: #C1D9A9;
    width: 590px;
    height: 98px;
    margin: 5px;
}

.caja_2 {
    background: #7AB8BF;
    width: 600px;
    height: 750px;
    display: flex;
    flex-direction: column;
}

.caja_2_0 {
    background: #2B303D;
    width: 585px;
    height: 94px;
    margin: 6px;
}

.caja_3 {
    background: #C4EEF2;
    width: 600px;
    height: 750px;
}

.caja_3_0 {
    display: flex;
}

.caja_3_1 {
    background: #99B4BF;
    width: 185px;
    height: 172px;
    margin: 6px;

}